body {
/* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
*/
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

h1 {
    text-align: center;
    margin-top: 20px;    /* optional: space from top */
    margin-bottom: 20px; /* optional: space below */
}

h3 {
    text-align: center;
    margin-top: 20px;    /* optional: space from top */
    margin-bottom: 20px; /* optional: space below */
    color: gray;
}

#controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}