body {
/* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
*/
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

#title {
    text-align: center;
}

#controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#legend-container {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  